
$font-raleway: 'Raleway', sans-serif
$blue-color: #18a3dd

body
	font-size: 16px
	font-family: 'Lato', sans-serif
	height: 5000px

.h2-title
	h2
		font-family: $font-raleway
		font-weight: 700
		letter-spacing: 0.75px
		color: #333740
		font-size: 1.875em
		margin-bottom: 12px
		position: relative
		&::before
			content: ''
			display: block
			position: absolute
			width: 1px
			height: 40px
			background-color: $blue-color
			left: 49%
			top: -2px
		span
			font-weight: 400
			margin-left: 31px
	p
		color: #83888f
		font-size: 1em
		font-weight: 300
		line-height: 24px
		letter-spacing: 0.4px

.page-header
	position: relative
	&::before
		content: ''
		display: block
		background-image: url(../img/header-rect.png)
		background-repeat: no-repeat
		background-size: cover
		position: absolute
		width: 1244px
		height: 200px
		right: 0
		top: 443px
		background-position: right
	.container
		padding-bottom: 94px
		.navbar
			border-bottom: 1px solid #ebebeb
			padding-bottom: 18px
			button
				border: none
				i
					color: #666666
					font-size: 40px
			div
				ul
					li
						a
							i
								color: #666666
								font-size: 40px
		.header-main
			padding-top: 11.7%
			.row
				.col-5
					h1
						line-height: 35px
						text-transform: uppercase
						margin-bottom: 58px
						color: #333740
						font-family: $font-raleway
						font-size: 4.5em
						position: relative
						font-weight: 800
						padding-left: 30px
						&::before
							content: ''
							display: block
							position: absolute
							left: 0
							width: 5px
							height: 95px
							top: -8px
							background-color: $blue-color
							border-radius: 5px
						span
							font-family: $font-raleway
							font-size: 0.3333em
							font-weight: 800
							letter-spacing: 0.6px
							text-transform: none
							margin-top: 26px
					p
						color: #666666
						font-size: 1em
						font-weight: 300
						line-height: 24px
						letter-spacing: 0.4px
						margin-bottom: 48px
					.button-group
						.btn-1
							background-color: $blue-color
							border: none
							border-radius: 50px
							padding: 13px 39px
							color: #f1f1f1
							font-size: 1em
							font-weight: 700
							text-transform: uppercase
							letter-spacing: 0.4px
							margin-right: 22px
						.btn-2
							color: #333740
							font-size: 1em
							font-weight: 700
							text-transform: uppercase
							letter-spacing: 0.4px
							background: none
							border: none
							i
								color: $blue-color
								font-size: 1.25em
								position: relative
								top: 2px
								left: 3px

.page-stats
	position: relative
	&::before
		content: ''
		display: block
		position: absolute
		background-image: linear-gradient(-40deg, #0f0816 0%, #21172b 90%, #21172b 100%)
		left: 0
		top: 23.7%
		width: 100%
		height: 67.3%
	.container
		padding-top: 212px
		padding-bottom: 145px
		position: relative
		&::before
			content: ''
			display: block
			position: absolute
			background-image: url(../img/page-stats-img.png)
			background-repeat: no-repeat
			width: 404px
			height: 525px
			top: -1px
			left: -158px
		.row
			.col-2
				span
					color: #ffffff
					font-size: 4.5em
					font-weight: 900
					text-transform: uppercase
					letter-spacing: 1.8px
					letter-spacing: 1.25px
					text-align: center
					padding-left: 19px
					position: relative
					margin-bottom: -7px
					&::before
						content: ''
						display: block
						position: absolute
						background-color: $blue-color
						width: 5px
						height: 50px
						border-radius: 5px
						top: 34px
						left: 1px
				i
					color: $blue-color
					font-weight: 700
					letter-spacing: 0.4px
					font-size: 1em
					text-transform: uppercase
					font-style: normal
				p
					font-weight: 300
					letter-spacing: 0.4px
					font-size: 1em
					color: #a9a9a9

.page-features
	.container
		padding-top: 65px
		.h2-title
			margin-bottom: 71px
		.row
			.first-block
				margin-bottom: 38px
				&-text
					position: relative
					&::after
						content: ''
						display: block
						position: absolute
						width: 5px
						height: 35px
						background-color: $blue-color
						border-radius: 5px
						right: 2px
						top: 4px
					&:nth-child(1)
						margin-bottom: 72px
					h3
						color: #333740
						font-size: 1.25em
						font-weight: 300
						font-family: $font-raleway
						letter-spacing: 0.5px
						padding-right: 29.5px
						margin-bottom: 25px
					p
						font-size: 1em
						letter-spacing: 0.4px
						text-align: right
						padding-left: 51px
			.second-block
				img
					display: block
					margin: 0 auto
			.third-block
				margin-bottom: 38px
				&-text
					position: relative
					&::after
						content: ''
						display: block
						position: absolute
						width: 5px
						height: 35px
						background-color: $blue-color
						border-radius: 5px
						left: 2px
						top: 4px
					&:nth-child(1)
						margin-bottom: 72px
					h3
						color: #333740
						font-size: 1.25em
						font-weight: 300
						font-family: $font-raleway
						letter-spacing: 0.5px
						padding-left: 29.5px
						margin-bottom: 25px
					p
						font-size: 1em
						letter-spacing: 0.4px
						padding-right: 51px